RewriteEngine on
RewriteCond $1 !^(index\.php|dadabik|phpvirtualbox|plugins|resources|plugins|scripts|artis*|.*\.html|images|.*\.css|content|themes|robots\.txt|phpinfo\.php|phpmyadmin)
RewriteRule ^(.*)$ index.php/$1 [L]