RewriteEngine on
RewriteCond $1 !^(index\.php|unsorted|resources|plugins|scripts|artis*|.*\.html|images|.*\.css|content|themes|robots\.txt|phpinfo\.php|phpmyadmin)
RewriteRule ^(.*)$ index.php/$1 [L]
AddType video/ogg .ogv
AddType video/mp4 .mp4
AddType video/webm .webm
AddType audio/webm .weba
SetEnvIfNoCase Request_URI \.(?:avi|mov|mp4|webm|ogg|ogv|weba|m4v)$ no-gzip dont-vary 